In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_init = pd.read_csv("train.csv")
pd.set_option('display.max_colwidth', 100)
train_init

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
#train_init.describe().to_csv (r'.\train_init_describe.csv', index = None, header=True)
train_init.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
from sklearn.linear_model import LinearRegression

In [16]:
data = pd.read_csv("train.csv")
data = data.drop(columns = "Id")

for col in data.columns:
    if data.dtypes[col] == 'object':
        data[col] = data[col].fillna("---")
        data[col]
    else:
        data[col] = data[col].fillna(data[col].mean())
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,---,Reg,Lvl,AllPub,Inside,...,0,---,---,---,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,---,Reg,Lvl,AllPub,FR2,...,0,---,---,---,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,---,IR1,Lvl,AllPub,Inside,...,0,---,---,---,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,---,IR1,Lvl,AllPub,Corner,...,0,---,---,---,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,---,IR1,Lvl,AllPub,FR2,...,0,---,---,---,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,---,Reg,Lvl,AllPub,Inside,...,0,---,---,---,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,---,Reg,Lvl,AllPub,Inside,...,0,---,MnPrv,---,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,---,Reg,Lvl,AllPub,Inside,...,0,---,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,---,Reg,Lvl,AllPub,Inside,...,0,---,---,---,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,---,Reg,Lvl,AllPub,Inside,...,0,---,---,---,0,6,2008,WD,Normal,147500

In [17]:
def pltcol(col, width = 0.9):
    plt.figure(figsize=(20,7))
    plt.bar(train_init[col].unique(), list((train_init[train_init[col] == x]["SalePrice"].mean() for x in train_init[col].unique())), width = width)
    plt.show()

In [18]:
def dummies(col):
    data[sorted(("is" + col + "_" + x) for x in data[col].unique())] = pd.get_dummies(data[col], prefix = "is" + col)

In [19]:
for col in data.columns:
    if data.dtypes[col] == 'object':
        dummies(col)
        if ("is" + col + "_" + "---") in data.columns:
            data = data.drop(columns = ("is" + col + "_" + "---"))
        data = data.drop(columns = col)

In [20]:
data

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,isSaleType_ConLw,isSaleType_New,isSaleType_Oth,isSaleType_WD,isSaleCondition_Abnorml,isSaleCondition_AdjLand,isSaleCondition_Alloca,isSaleCondition_Family,isSaleCondition_Normal,isSaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,1,0,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,1,0,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,1,0,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,1,0,0,0,0,1,0

In [21]:
data.to_csv(r'./edited_data.csv', index = False)

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

X_init = data.drop(columns = ["SalePrice"])
Y_init = data.SalePrice

X_train, X_val, Y_train, Y_val = train_test_split(X_init, 
                                                  Y_init, 
                                                  test_size=0.1,  
                                                  random_state=42)



lin_reg = LinearRegression()

lin_reg.fit(X_train, Y_train)

lin_reg.score(X_val, Y_val)

0.8946126391061296

In [23]:
#mi v kaggle da submitvame
estimator = LinearRegression()
estimator.fit(X_init, Y_init)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
for col in train_init.columns:
    if train_init.dtypes[col] == 'object':
        train_init[col] = train_init[col].fillna("---")
    else:
        train_init[col] = train_init[col].fillna(train_init[col].mean())

def editInput(table):
    table = table.drop(columns = "Id")
    for col in table.columns:
        #print(col)
        if table.dtypes[col] == 'object':
            table[col] = table[col].fillna("---")
        else:
            table[col] = table[col].fillna(data[col].mean())
    for col in table.columns:
        #print(col)
        if table.dtypes[col] == 'object':
            dummies = pd.get_dummies(table[col], prefix = "is" + col)
            print(list(dummies.columns))
            #table[sorted(("is" + col + "_" + x) for x in train_init[col].unique())]
            for x in sorted(train_init[col].unique()[train_init[col].unique() != "---"]):
                col_name = "is" + col + "_" + x
                if (col_name) in list(dummies.columns):
                    table[col_name] = dummies[col_name]
                else:
                    table[col_name] = 0
            
            table = table.drop(columns = col)
    print(table.columns)
    table.to_csv(r'./edited_test.csv', index = False)
    return table

In [25]:
test = pd.read_csv("test.csv")
ID_col = test["Id"]
test = editInput(test)

['isMSZoning_---', 'isMSZoning_C (all)', 'isMSZoning_FV', 'isMSZoning_RH', 'isMSZoning_RL', 'isMSZoning_RM']
['isStreet_Grvl', 'isStreet_Pave']
['isAlley_---', 'isAlley_Grvl', 'isAlley_Pave']
['isLotShape_IR1', 'isLotShape_IR2', 'isLotShape_IR3', 'isLotShape_Reg']
['isLandContour_Bnk', 'isLandContour_HLS', 'isLandContour_Low', 'isLandContour_Lvl']
['isUtilities_---', 'isUtilities_AllPub']
['isLotConfig_Corner', 'isLotConfig_CulDSac', 'isLotConfig_FR2', 'isLotConfig_FR3', 'isLotConfig_Inside']
['isLandSlope_Gtl', 'isLandSlope_Mod', 'isLandSlope_Sev']
['isNeighborhood_Blmngtn', 'isNeighborhood_Blueste', 'isNeighborhood_BrDale', 'isNeighborhood_BrkSide', 'isNeighborhood_ClearCr', 'isNeighborhood_CollgCr', 'isNeighborhood_Crawfor', 'isNeighborhood_Edwards', 'isNeighborhood_Gilbert', 'isNeighborhood_IDOTRR', 'isNeighborhood_MeadowV', 'isNeighborhood_Mitchel', 'isNeighborhood_NAmes', 'isNeighborhood_NPkVill', 'isNeighborhood_NWAmes', 'isNeighborhood_NoRidge', 'isNeighborhood_NridgHt', 'isNeighborhood_OldTown', 'isNeighborhood_SWISU', 'isNeighborhood_Sawyer', 'isNeighborhood_SawyerW', 'isNeighborhood_Somerst', 'isNeighborhood_StoneBr', 'isNeighborhood_Timber', 'isNeighborhood_Veenker']
['isCondition1_Artery', 'isCondition1_Feedr', 'isCondition1_Norm', 'isCondition1_PosA', 'isCondition1_PosN', 'isCondition1_RRAe', 'isCondition1_RRAn', 'isCondition1_RRNe', 'isCondition1_RRNn']
['isCondition2_Artery', 'isCondition2_Feedr', 'isCondition2_Norm', 'isCondition2_PosA', 'isCondition2_PosN']
['isBldgType_1Fam', 'isBldgType_2fmCon', 'isBldgType_Duplex', 'isBldgType_Twnhs', 'isBldgType_TwnhsE']
['isHouseStyle_1.5Fin', 'isHouseStyle_1.5Unf', 'isHouseStyle_1Story', 'isHouseStyle_2.5Unf', 'isHouseStyle_2Story', 'isHouseStyle_SFoyer', 'isHouseStyle_SLvl']
['isRoofStyle_Flat', 'isRoofStyle_Gable', 'isRoofStyle_Gambrel', 'isRoofStyle_Hip', 'isRoofStyle_Mansard', 'isRoofStyle_Shed']
['isRoofMatl_CompShg', 'isRoofMatl_Tar&Grv', 'isRoofMatl_WdShake', 'isRoofMatl_WdShngl']
['isExterior1st_---', 'isExterior1st_AsbShng', 'isExterior1st_AsphShn', 'isExterior1st_BrkComm', 'isExterior1st_BrkFace', 'isExterior1st_CBlock', 'isExterior1st_CemntBd', 'isExterior1st_HdBoard', 'isExterior1st_MetalSd', 'isExterior1st_Plywood', 'isExterior1st_Stucco', 'isExterior1st_VinylSd', 'isExterior1st_Wd Sdng', 'isExterior1st_WdShing']
['isExterior2nd_---', 'isExterior2nd_AsbShng', 'isExterior2nd_AsphShn', 'isExterior2nd_Brk Cmn', 'isExterior2nd_BrkFace', 'isExterior2nd_CBlock', 'isExterior2nd_CmentBd', 'isExterior2nd_HdBoard', 'isExterior2nd_ImStucc', 'isExterior2nd_MetalSd', 'isExterior2nd_Plywood', 'isExterior2nd_Stone', 'isExterior2nd_Stucco', 'isExterior2nd_VinylSd', 'isExterior2nd_Wd Sdng', 'isExterior2nd_Wd Shng']
['isMasVnrType_---', 'isMasVnrType_BrkCmn', 'isMasVnrType_BrkFace', 'isMasVnrType_None', 'isMasVnrType_Stone']
['isExterQual_Ex', 'isExterQual_Fa', 'isExterQual_Gd', 'isExterQual_TA']
['isExterCond_Ex', 'isExterCond_Fa', 'isExterCond_Gd', 'isExterCond_Po', 'isExterCond_TA']
['isFoundation_BrkTil', 'isFoundation_CBlock', 'isFoundation_PConc', 'isFoundation_Slab', 'isFoundation_Stone', 'isFoundation_Wood']
['isBsmtQual_---', 'isBsmtQual_Ex', 'isBsmtQual_Fa', 'isBsmtQual_Gd', 'isBsmtQual_TA']
['isBsmtCond_---', 'isBsmtCond_Fa', 'isBsmtCond_Gd', 'isBsmtCond_Po', 'isBsmtCond_TA']
['isBsmtExposure_---', 'isBsmtExposure_Av', 'isBsmtExposure_Gd', 'isBsmtExposure_Mn', 'isBsmtExposure_No']
['isBsmtFinType1_---', 'isBsmtFinType1_ALQ', 'isBsmtFinType1_BLQ', 'isBsmtFinType1_GLQ', 'isBsmtFinType1_LwQ', 'isBsmtFinType1_Rec', 'isBsmtFinType1_Unf']
['isBsmtFinType2_---', 'isBsmtFinType2_ALQ', 'isBsmtFinType2_BLQ', 'isBsmtFinType2_GLQ', 'isBsmtFinType2_LwQ', 'isBsmtFinType2_Rec', 'isBsmtFinType2_Unf']
['isHeating_GasA', 'isHeating_GasW', 'isHeating_Grav', 'isHeating_Wall']
['isHeatingQC_Ex', 'isHeatingQC_Fa', 'isHeatingQC_Gd', 'isHeatingQC_Po', 'isHeatingQC_TA']
['isCentralAir_N', 'isCentralAir_Y']
['isElectrical_FuseA', 'isElectrical_FuseF', 'isElectrical_FuseP', 'isElectrical_SBrkr']
['isKitchenQual_---', 'isKitchenQual_Ex', 'isKitchenQual_Fa', 'isKitchenQual_Gd', 'isKitchenQual_TA']
['isFunctional_---', 'isFunctional_Maj1', 'isFunctional_Maj2', 'isFunctional_Min1', 'isFunctional_Min2', 'isFunctional_Mod', 'isFunctional_Sev', 'isFunctional_Typ']
['isFireplaceQu_---', 'isFireplaceQu_Ex', 'isFireplaceQu_Fa', 'isFireplaceQu_Gd', 'isFireplaceQu_Po', 'isFireplaceQu_TA']
['isGarageType_---', 'isGarageType_2Types', 'isGarageType_Attchd', 'isGarageType_Basment', 'isGarageType_BuiltIn', 'isGarageType_CarPort', 'isGarageType_Detchd']
['isGarageFinish_---', 'isGarageFinish_Fin', 'isGarageFinish_RFn', 'isGarageFinish_Unf']
['isGarageQual_---', 'isGarageQual_Fa', 'isGarageQual_Gd', 'isGarageQual_Po', 'isGarageQual_TA']
['isGarageCond_---', 'isGarageCond_Ex', 'isGarageCond_Fa', 'isGarageCond_Gd', 'isGarageCond_Po', 'isGarageCond_TA']
['isPavedDrive_N', 'isPavedDrive_P', 'isPavedDrive_Y']
['isPoolQC_---', 'isPoolQC_Ex', 'isPoolQC_Gd']
['isFence_---', 'isFence_GdPrv', 'isFence_GdWo', 'isFence_MnPrv', 'isFence_MnWw']
['isMiscFeature_---', 'isMiscFeature_Gar2', 'isMiscFeature_Othr', 'isMiscFeature_Shed']
['isSaleType_---', 'isSaleType_COD', 'isSaleType_CWD', 'isSaleType_Con', 'isSaleType_ConLD', 'isSaleType_ConLI', 'isSaleType_ConLw', 'isSaleType_New', 'isSaleType_Oth', 'isSaleType_WD']
['isSaleCondition_Abnorml', 'isSaleCondition_AdjLand', 'isSaleCondition_Alloca', 'isSaleCondition_Family', 'isSaleCondition_Normal', 'isSaleCondition_Partial']
Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       ...
       'isSaleType_ConLw', 'isSaleType_New', 'isSaleType_Oth', 'isSaleType_WD',
       'isSaleCondition_Abnorml', 'isSaleCondition_AdjLand',
       'isSaleCondition_Alloca', 'isSaleCondition_Family',
       'isSaleCondition_Normal', 'isSaleCondition_Partial'],
      dtype='object', length=288)

In [26]:
print(len(list(test.columns)))
print(len(list(X_init.columns)))
prediction = estimator.predict(test)
prediction.size

288
288

1459

In [27]:
result = test.drop(columns = test.columns)
result

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1459 rows x 0 columns]

In [28]:
result["Id"] = ID_col

In [29]:
result

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [30]:
result["SalePrice"] = prediction

In [31]:
result

        Id      SalePrice
0     1461  112685.586935
1     1462  159772.521286
2     1463  186560.400703
3     1464  197126.488385
4     1465  205399.055662
...    ...            ...
1454  2915   84299.010228
1455  2916   79725.745832
1456  2917  179201.953240
1457  2918  115057.595356
1458  2919  223266.260664

[1459 rows x 2 columns]

In [32]:
result.to_csv("./submission.csv", index = False)

In [33]:
#Score 0.20012 4476/5367..
#slabo ama pak e neshto